{% extends "base.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="auth-form-wrapper">
		<h1>S'inscrire</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username,  {
            label: 'Nom d\'utilisateur'
        }) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

	<div class="mt-3 text-center small text-muted">
		   Cette application web est fournie sans aucune garantie. 
		   En vous inscrivant, vous acceptez de ne pas utiliser ce service pour partager du 
		   contenu illégal, nuisible ou enfreignant les droits d'autrui.
	   </div>

	   <div class="form-check d-flex align-items-center justify-content-center mb-3">
		   {{ form_widget(registrationForm.agreeTerms, { attr: { class: 'form-check-input me-2' } }) }}
		{{ form_label(registrationForm.agreeTerms, 'Accepter les conditions', { label_attr: { class: 'form-check-label mb-0' } }) }}
	</div>

	<button type="submit" class="btn btn-lg btn-primary d-block mx-auto px-5" style="text-align:center;">S'inscrire</button>
	{{ form_end(registrationForm) }}
</div>{% endblock %}
